<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <% if (locals.settings && settings.favicon_path) { %>
                <img src="<%= settings.favicon_path %>" alt="<%= settings.medical_name %>" style="width: 40px; height: 40px;">
            <% } else { %>
                <i class="fas fa-hospital-alt me-2"></i>
            <% } %>
            
            
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link <%= title === 'Billing' ? 'active' : '' %>" href="/billing">
                        <i class="fas fa-file-invoice-dollar me-1"></i>Billing
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= title === '' ? 'active': '' %>" href="/reports/billing/due">
                        <i class="fas fa-file-invoice-dollar me-1"></i>Pay Bill</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= title === 'Patients' ? 'active' : '' %>" href="/patients">
                        <i class="fas fa-user-injured me-1"></i>Patients
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= title === 'Doctors' ? 'active' : '' %>" href="/doctors">
                        <i class="fas fa-user-md me-1"></i>Doctors
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= title === 'Appointments' ? 'active' : '' %>" href="/appointments">
                        <i class="fas fa-calendar-check me-1"></i>Appointments
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= title === 'Cabins' ? 'active' : '' %>" href="/cabins">
                        <i class="fas fa-bed me-1"></i>Cabins
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= title === 'Tests' ? 'active' : '' %>" href="/tests">
                        <i class="fas fa-vial me-1"></i>Tests
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= title === 'Reports' ? 'active' : '' %>" href="/reports">
                        <i class="fas fa-chart-line me-1"></i>Reports
                    </a>
                </li>
                <% if (user && user.role === 'admin') { %>
                <li class="nav-item">
                    <a class="nav-link <%= title === 'Register User' ? 'active' : '' %> " href="/register">
                        <i class="fas fa-cog me-1"></i>Staff
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= title === 'Settings' ? 'active' : '' %>" href="/settings">
                        <i class="fas fa-cog me-1"></i>Settings
                    </a>
                </li>
                <% } %>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-user-shield me-1"></i><%= user.role.toUpperCase() %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt me-1"></i>Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>